# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
android/app/build/
ios/Pods/
ios/build/
*.xcworkspace
!ios/*.xcworkspace

# Build outputs
*.ipa
*.apk
*.aab

# Misc
.DS_Store
*.log